/* 서브 헤더 아이콘 */
.middle_title::before {
    content: '';
    width: 27px;
    height: 27px;
    background-image: url(/icon/clinicalIcon.png);
    position: absolute;
    background-size: 20px;
    background-repeat: no-repeat;
}
li.middle_title p {
    margin-left: 35px;
    margin-top: 2px;
}
.clinicalConBox {
    margin-top: 20px;
}
/* 슬라이더 */
.slider.slick-initialized.slick-slider {
    width: 16.66666667%;
}
.slick-track {
    width: 100%;
}
.slick-initialized .slick-slide {
    width: 100%;
}
.tabGroup {
    display: flex;
    justify-content: space-between;
}
.datesearch {
    height: 38px;
    padding: 0 1.5rem;
    background: #1672EC;
    border: 1px solid #e4e7ed;
    color: white;
    border-radius: 4px;
}
/*  검색창 */
.tabContainer {
    display: block;
}
.tabTitle h4 {
    font-weight: bold;
}
li.tabBox {
    justify-content: start;

}
li.dateBox input {
    vertical-align: bottom;
    line-height: 31px;
}
li.dateBox input:first-child::before {
    content: '-';
    position: absolute;
    margin-left: 116px;
}
li.dateBox input:first-child {
    margin-right: 8px;
}
.tabContainer.flex {
    display: flex;
    justify-content: space-between;
}
/* 사이드 탭선택창 */
ul.clinicalarea li {
    /* display: flex; */
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0.63px 1.26px rgba(97, 97, 97, 0.2),0px 1.26px 2.52px rgba(97, 97, 97, 0.2);
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem 0rem;
    cursor: pointer;
}
ul.clinicalarea li:hover {
    background: #F0F9FF;
}
ul.clinicalarea li:hover .iconBox {
    background: rgba(197, 220, 250, 0.5);
}
li.clinicalItem div {
    float: left;
}
ul.clinicalarea li:first-child {
    background: #F0F9FF;

}
ul.clinicalarea li:first-child .iconBox {
    background: rgba(197, 220, 250, 0.5);
}
.iconBox {
    background: rgba(198, 198, 198, 0.5);
    border-radius: 24px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 6px;
}
.clinicalarea .clinicalItem:nth-child(2) .iconBox img {
    width: 25px;
    height: 25px;
}
.iconBox img {
    width: 30px;
    height: 30px;
    margin-top: 8px;
}
.clinicalT p.bold {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}
.clinicalT p {
    margin: 0;
}
ul.clinicalarea {
    padding: 3rem 0rem;
}
.clinicalConBox.col-lg-3 {
    margin-right: 1%;
}
.clinicalT i {
    cursor: pointer;
}

/* 미디어태그 */
@media (min-width: 1200px){
    .clinicalConBox.col-lg-3 {
        width: 24%;   
    }
    .mainCon{
        min-height: 727px;
    }
}