/* 서브 헤더 아이콘 */
.middle_title::before {
    content: '';
    width: 27px;
    height: 27px;
    background-image: url(/icon/environmentIcon.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
li.middle_title p {
    margin-left: 35px;
    margin-top: 2px;
}
/* 농장환경테이블 탭박스 */

.tabTitle {
    display: contents;
}

.tabGroup {
    display: flex;
    justify-content: space-between;
}

.emConBox .tableBox {
    width: 100%;
}

.hatchConBox.col-lg-12.Boxcustom.table div {
    float: left;
}

.hatchLeft {
    width: 14%;
}

.tableBox {
    width: 86%;
}

.leftTitle {
    border-bottom: 1px solid #dadada;
    width: 100%;
    margin-top: 1.1rem;
}

.leftTitle h4 {
    font-size: 2rem;
    font-weight: bold;
}

.leftarea li {
    margin: 0.5rem;
    box-shadow: 0px 0.63px 1.26px rgb(97 97 97 / 20%), 0px 1.26px 2.52px rgb(97 97 97 / 20%);
    padding: 1rem;
    border-radius: 4px;
}

.leftarea li:first-child:after {
    background: #1672EC;
}

.leftarea li:after {
    width: 30px;
    height: 30px;
    content: '';
    position: absolute;
    background: #E9E9E9;
    margin-left: 170px;
    border-radius: 15px;
    margin-top: -4px;
}

li.leftItem p {
    margin: 0;
}

li.leftItem:first-child {
    margin-top: 2rem;
}

li.leftItem:last-child {
    margin-bottom: 2rem;
}

li.leftItem p.num {
    z-index: 2;
    margin: 0;
    color: white;
    text-align: center;
    font-weight: bold;
}

.leftarea li.active {
    background: #EBF2FF;
}

.leftarea {
    width: 95%;
}

li.leftItem,
li.leftItem.active {
    display: flex !important;
    justify-content: space-between;
    cursor: pointer;
}

.farmTable th,
.farmTable td {
    font-weight: 500;

}

.farmTable {
    margin-top: 4px;
}

.hatchConBox .tabContainer {
    display: block;
    width: 100%;
}

.tabTitle h4 {
    font-weight: bold;
}

/* 테이블탭 */
.tabContainer {
    justify-content: space-between;
    margin-bottom: 0;
}

.datesearch {
    height: 38px;
    padding: 0 1.5rem;
    background: #1672EC;
    border: 1px solid #e4e7ed;
    color: white;
    border-radius: 4px;
}

li.dateBox input {
    vertical-align: bottom;
    line-height: 31px;
}

li.dateBox input:first-child::before {
    content: '-';
    position: absolute;
    margin-left: 144px;
}
.light {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.emConBox:last-child {
    padding: 1rem;
}

li.dateBox input:first-child {
    margin-right: 8px;
}
.emConBox:not(:nth-child(odd)) {
    margin-right: 1%;
}
@media (min-width: 1200px){
    .col-lg-6 {
        width: 49.444444%;
     }
}
