/* 서브 헤더 아이콘 */
.middle_title::before {
    content: '';
    width: 27px;
    height: 27px;
    background-image: url(/icon/episIcon.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
li.middle_title p {
    margin-left: 35px;
    margin-top: 2px;
}
.tabContainer {
    display: block;
}
.tabTitle h4 {
    font-weight: bold;
}
li.tabBox {
    justify-content: start;
}
.tabGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabGroup li {
    cursor: pointer;
}
.tabright {
    display: flex;
}
.tabright .tabButton:nth-child(3) {
    border: 1px solid #1672EC;
    color: #1672EC;
}
.datesearch {
    height: 38px;
    padding: 0 1.5rem;
    background: #1672EC;
    border: 1px solid #e4e7ed;
    color: white;
    border-radius: 4px;
}
li.dateBox input {
    vertical-align: bottom;
    line-height: 31px;
}
li.dateBox {
    margin-left: 5px;
    cursor: pointer;
}
li.dateBox input:first-child::before {
    content: '-';
    position: absolute;
    margin-left: 144px;
}
li.dateBox input:first-child {
    margin-right: 8px;
}
.tabButton div {
    display: flex;
    align-items: baseline;
}
.trButton p {
    margin: 0;
    font-weight: 500;
}
.trButton input {
    margin-right: 5px;
}
li.tabButton {
    border: 1px solid #dadada;
    padding: 0.6rem 0.8rem;
    border-radius: 4px;
    margin: 0rem 0.5rem;
}
.tabButtonBox li:nth-child(3) {
    border: 1px solid #1672EC;
    color: #1672EC;
}
.tabButton {
    cursor: pointer;
}
.episConBox {
    margin-top: 20px;
}
.tabTitle {
    margin-right: 5px;
}
.tabarea {
    display: flex;
    justify-content: space-between;
}
.tabButtonBox {
    display: flex;
}
.episConBox:not(:nth-child(odd)){
    margin-right: 1%;
}
/* 미디어 */
@media (min-width: 1200px){
    .col-lg-6 {
        width: 49.444444%;
     }
}