/* 220119 1차통합 */
.tabletop-btn, table {font-size: 12px !important;}

/* 우측 조회 영역 */
.right-side {
    top: 0.5rem;
    position: absolute;
    right: 15px;
    width: calc(33.33333333% - 15px);
}
.right-side .inner-box {
    padding: 5px;
    height: 58px;
    overflow-y: hidden;
}

.right-side .tablerow {
    height: 48px;
    overflow-y: hidden;
}

.right-side form {
    margin-top: -33px;
}

.right-side th {
    padding: 0 5px;
    height: 23px;
}
.right-side td {
    padding: 0 5px;
    height: 24px;
    text-align: center;
}

/* 우측테이블 트랜지션 */
.right-side .inner-box,
.right-side .tablerow,
.right-side form {
    transition: height .4s, margin-top .4s;
}

.right-side::after {
    content: "더보기";
    width: 100px; height: 20px;
    border-radius: 0 0 5px 5px;
    background-color: rgb(34, 49, 137);
    color: #fff;
    text-align: center;
    padding: 2px;
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.open::after {content: "닫기";}



/* 하단테이블 */
.tabletop-btn button, fieldset button {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f5f5f5;
}
.tablerow {
    overflow: auto;
    white-space: nowrap;
    margin-top: .5rem;
}

/* 테이블 */
table {
    border: 1px solid #ccc;
    min-width: 10px;
    width: 100%;
}
tbody {background-color: white;}

/* 텍스트 얼라인 */
th, td:first-of-type {text-align: center;}
th {cursor: default ;}
.tfoot-sum {text-align: right;}

/* 테이블 보더 */
tr {border-bottom: 1px solid #ccc;}
tfoot>tr {border-bottom: none;}
td, th {border-right: 1px solid #ccc;}

/* 테이블 여백 */
.bot-card thead>tr>th:first-of-type,
.bot-card table tr>td:first-of-type,
.bot-card tfoot tr>td:first-of-type {min-width: 40px; width: 40px;}
.right-side thead>tr>th:first-of-type,
.right-side table tr>td:first-of-type,
.right-side tfoot tr>td:first-of-type {width: 31px;}

.bot-card .plus_minus th:last-of-type,
.bot-card .plus_minus td:last-of-type {
    min-width: 35px;
    width: 35px;
    position: relative;
}

.bot-card .basic_info_table thead>tr>th:first-of-type,
.bot-card .basic_info_table thead>tr>th:last-of-type,
.bot-card .basic_info_table tr>td:first-of-type, 
.bot-card .basic_info_table tr>td:last-of-type {
    width: auto;
}

th, tfoot td {padding: 5px;}

.right-side tbody tr {cursor: pointer;}
.right-side tbody tr:hover {
    background-color: #223189;
    color: #fff;
}

/* 테이블안 input 공통*/
table input, table select {height: 31px !important;}

/* 테이블 내에 인풋 디자인 변경 */
table input::-webkit-input-placeholder {
    color: #c0c0c0;
    font-style: italic;
    text-align: center;
    font-size: 11px;
  }
table input, table select {
    width: 100%;
    border: none !important;
}
table select {
    /* background: url('arrow.jpg') no-repeat 95% 50%; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

table input[type=number] {text-align: right;}
table input[type=number]::-webkit-outer-spin-button,
table input[type=number]::-webkit-inner-spin-button {
  margin-left: 10px;
}


input[type=date]::-webkit-datetime-edit-text, input[type=date]::-webkit-datetime-edit-month-field, 
input[type=date]::-webkit-datetime-edit-day-field, input[type=date]::-webkit-datetime-edit-year-field, 
input[type="date"]::-webkit-inner-spin-button  { 
    -webkit-appearance: none; display: none; }

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

input[type=time]::-webkit-datetime-edit-text, input[type=time]::-webkit-datetime-edit-month-field, 
input[type=time]::-webkit-datetime-edit-day-field, input[type=time]::-webkit-datetime-edit-year-field, 
input[type=time]::-webkit-inner-spin-button  { 
    -webkit-appearance: none; display: none; border: none;}

input[type=time]::-webkit-calendar-picker-indicator {opacity: 0;}

input[type=time]::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

table input:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
table select:focus {outline: none;}

.car-list input[type=checkbox] {width: 15px;}

/* 테이블 +-버튼 */
.row-btn {
    width: 20px; height: 20px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.row-add {background-color: blue;}
.row-delete {background-color: red;}
.row-delete::after,
.row-add::before,
.row-add::after {
    content: "";
    width: 15px; height: 4px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.row-add::before {width: 4px; height: 15px;}

/* 계란 테이블만 적용 */
.egg_table thead tr:first-of-type {
    background: #ebf2ff;
    font-weight: bold;
    border-top: 1px solid #223189;
}

.egg_table tfoot td {
    background: #f5f5f5;
    font-weight: bold;
}

.egg_table tr>td:first-of-type,
.egg_table tr>th:first-of-type {
    background: #ebf2ff;
    font-weight: bold;
    border-left: 4px solid transparent!important;    
}

.egg_table tr>td:last-of-type,
.egg_table tr>th:last-of-type {
    border-right: 4px solid transparent!important;    
}

.egg_table tr>td {
    border: 1px solid #ccc;
}

.egg_table input:disabled {
    background: #f5f5f5;
}

/* 기초정보등록 테이블 적용 */
.set-table {
    width: 40%;
}

.set-table thead tr {
    background: #ebf2ff;
    font-weight: bold;
    border-top: 1px solid #223189;
}

.set-table tr>td:first-of-type,
.set-table tr>th:first-of-type {
    background: #ebf2ff;
    font-weight: bold;
}

.set-table tr>td {
    border: 1px solid #ccc;
}

.w-100 {width: 100%;}
.w-66 {width: 66%;}
.w-45 {width: 45%;}
.mr-10 {margin-right: 20px;}

.table-title {
    padding: 2px;
    text-align: center;
    border: 1px solid #223189;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    width: 80px;
    margin-bottom: 0;
    margin-top: 0;
    background: #223189;
    color: #fff;
}
.bor-r {
    border-right: 1px solid #223189!important;    
}
.cell-bg {
    background: #ebf2ff;
    font-weight: bold;
    text-align: center;
}

/* haccp 테이블 시작*/
.haccp-table {
    border: none;
}
.haccp-table thead tr:first-of-type {
    background: #ebf2ff;
    border-bottom: 2px solid #223189;
    text-align: left!important;
    font-size: larger;
    padding: 10px 0 10px 10px;
}
.haccp-table thead tr:nth-of-type(2),
.haccp-table tbody td:first-of-type,.haccp-table-bg {
    background: #f5f5f5;
    text-align: center;
}

.haccp-table tr:first-of-type th {
    text-align: left;
}

.haccp-table td {
    word-break: keep-all; 
    white-space: pre-line;
    padding: 4px 0 4px 4px;
}

.haccp-table tr td:first-of-type {
    text-align: center!important;
}

.haccp-table td:last-of-type,
.haccp-table th:last-of-type {
    border-right: none;
}

/* 변경점 */
.haccp-table input[type="text"] {
    width: 60%;
    border-bottom: 1px solid #ccc !important;
    margin-left: 12px;
    /* border-bottom: 2px solid #ccc; */
}

.haccp-table input[type="text"]:focus {
    box-shadow: none;
}

.haccp-table td div {
    display: flex;
    justify-content: left;
}

.haccp-table  td input[type="radio"],
.haccp-table td input[type="checkbox"] { 
    width: 15px;
    display: inline;
}

label[for="haccp-plan-checkbox"] {
    font-weight: normal;
    margin-top: 11px;
    margin-left: 5px;
}

label[for="haccp-plan-text"] {
    font-weight: normal;
    margin-top: 11px;
}
/* haccp 테이블 끝*/

/* 위해요소 테이블 시작*/
.risk-table thead {
    background: #ebf2ff;
}
.risk-table thead tr:first-of-type {
    
    border-bottom: 2px solid #223189;
}

.risk-table .txt-left {
    text-align: left;
}
.risk-table td, .risk-table th  {
    word-break: keep-all; 
    white-space: pre-line;
    padding: 4px 0 4px 4px;
}

.risk-table tr td {
    text-align: center;
}

.risk-table tr td:last-of-type {
    text-align: left;
}

.risk-table td div {    
    display: flex;
    justify-content: center;
}
.risk-table td input[type="radio"],
.risk-table td input[type="checkbox"] { 
    width: 15px;
}

.risk-table td input[type="text"] {
    text-align: center;
}
.risk-table td input[type="text"]:focus {
    box-shadow: none;
}

.risk-table input:disabled {
    background:#fff;
}

.risk-table .table-radio {
    display: flex;
    justify-content: left;
}
.risk-table .table-radio div {
    margin-right: 10px;
}
.risk-table .table-radio label {
    margin-top: 10px;
    margin-left: 3px;
}
/* 위해요소 테이블 끝*/

/* haccp-test 테이블 시작 */
.haccp-test-table thead {
    background: #ebf2ff;
}
.haccp-test-table thead tr:first-of-type {
    
    border-bottom: 2px solid #223189;
}

.haccp-test-table .txt-left {
    text-align: left;
}
.haccp-test-table td, .haccp-test-table th  {
    word-break: keep-all; 
    white-space: pre-line;
    padding: 4px 0 4px 4px;
}

.haccp-test-table tr td:last-of-type {
    text-align: left;
}

.haccp-test-table td div {    
    display: flex;
    justify-content: center;
}
.haccp-test-table td input[type="radio"],
.haccp-test-table td input[type="checkbox"] { 
    width: 15px;
}

.haccp-test-table td input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}

.haccp-test-table input:disabled {
    background:#fff;
}

.haccp-test-table .table-radio div {
    margin-right: 20px;
}
.haccp-test-table .table-radio label {
    margin-top: 30px;
    margin-left: -11px;
}

.haccp-test-table tfoot {
    background-color: #f5f5f5;
    font-weight: bold;
}

.haccp-test-table tfoot input[type="text"] {
    background-color: #f5f5f5;
}
/* haccp-test 테이블 끝*/