<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Styles -->
    <link href= "css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles -->
    <link href= "css/font-awesome.css" rel="stylesheet" />
    <link rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- Custom Styles -->
    <link href= "css/custom-styles.css" rel="stylesheet" />
    <link href= "css/common.css" rel="stylesheet" />
    <link href= "css/Environmental_management.css" rel="stylesheet" />
    <!-- Jquery CDN -->
    <script src= "http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Google Fonts -->
    <link href= "http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <link href= "https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Chartjs CDN -->
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
        integrity= "sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
        crossorigin= "anonymous" referrerpolicy="no-referrer"></script>
    <title>꼬꼬 대시보드</title>
</head>

<body>
    <div id="wrapper">
        <article id="wrapper-top">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <%- include ('top-navbar.html') %>
            </nav>
        </article>
        <article id="middle header">
            <div class="middlenav">
                <ul class="middle inner">
                    <li class="middle_title">
                        <p>환경분석</p>
                    </li>
                    <li class="middle_caption">
                        <select id="farm">
                            <option value="한밭농장">한밭농장</option>
                            <option value="한밭농장">전체농장</option>
                            <option value="아리농장">아리농장</option>
                        </select>
                    </li>
                </ul>
            </div>
        </article>
        <div class="mainCon">
            <div class="mainConinner row">
                <div class="hatchConBox col-lg-12 Boxcustom table">
                    <div class="hatchLeft">
                        <div class="leftTitle">
                            <h4>환경분석</h4>
                        </div>
                        <div class="leftarea">
                            <li class="leftItem active">
                                <p>농장환경</p>
                                <p class="num">10</p>
                            </li>
                            <li class="leftItem">
                                <p>음수</p>
                                <p class="num">10</p>
                            </li>
                            <li class="leftItem">
                                <p>연료</p>
                                <p class="num">10</p>
                            </li>
                        </div>
                    </div>
                    <div class="tableBox">
                        <div class="tabContainer">
                            <div class="tabTitle">
                                <h4>농장 환경 테이블</h4>
                            </div>
                            <ul class="tabGroup">
                                <li class="tabBox">
                                    <div class="tabItem active">
                                        <a href="#">전체</a>
                                    </div>
                                    <div class="tabItem">
                                        <a href="#">1동</a>
                                    </div>
                                    <div class="tabItem">
                                        <a href="#">2동</a>
                                    </div>
                                    <div class="tabItem">
                                        <a href="#">3동</a>
                                    </div>
                                    <div class="tabItem">
                                        <a href="#">4동</a>
                                    </div>
                                </li>
                                <li class="dateBox">
                                    <input type="date" id="start" name="trip-start" value="2021-12-01" min="2022-01-01"
                                        max="2022-12-31">
                                    <input type="date" id="start" name="trip-start" value="2021-12-31" min="2022-01-01"
                                        max="2022-12-31">
                                    <button class="datesearch">검색</button>
                                </li>
                            </ul>
                        </div>
                        <table class="farmTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>측정일시</th>
                                    <th>측정동</th>
                                    <th>주령</th>
                                    <th>온도(적정)</th>
                                    <th>습도(적정)</th>
                                    <th>조도(적정)</th>
                                    <th>CO2(적정)</th>
                                    <th>암모니아(적정)</th>
                                    <th>이상내역</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.11.16 15:10</td>
                                    <td>5동</td>
                                    <td>22주령</td>
                                    <td>26.5℃(26.5℃)</td>
                                    <td>15%(15%)</td>
                                    <td>45lux(45lux)</td>
                                    <td>20ppm(20ppm)</td>
                                    <td>45ppm(45ppm)</td>
                                    <td>이상없음</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.11.16 15:10</td>
                                    <td>5동</td>
                                    <td>22주령</td>
                                    <td>26.5℃(26.5℃)</td>
                                    <td>15%(15%)</td>
                                    <td>45lux(45lux)</td>
                                    <td>20ppm(20ppm)</td>
                                    <td>45ppm(45ppm)</td>
                                    <td>이상없음</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.11.16 15:10</td>
                                    <td>5동</td>
                                    <td>22주령</td>
                                    <td>26.5℃(26.5℃)</td>
                                    <td>15%(15%)</td>
                                    <td>45lux(45lux)</td>
                                    <td>20ppm(20ppm)</td>
                                    <td>45ppm(45ppm)</td>
                                    <td>이상없음</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.11.16 15:10</td>
                                    <td>5동</td>
                                    <td>22주령</td>
                                    <td>26.5℃(26.5℃)</td>
                                    <td>15%(15%)</td>
                                    <td>45lux(45lux)</td>
                                    <td>20ppm(20ppm)</td>
                                    <td>45ppm(45ppm)</td>
                                    <td>이상없음</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>21.11.16 15:10</td>
                                    <td>5동</td>
                                    <td>22주령</td>
                                    <td>26.5℃(26.5℃)</td>
                                    <td>15%(15%)</td>
                                    <td>45lux(45lux)</td>
                                    <td>20ppm(20ppm)</td>
                                    <td>45ppm(45ppm)</td>
                                    <td>이상없음</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.11.16 15:10</td>
                                    <td>5동</td>
                                    <td>22주령</td>
                                    <td>26.5℃(26.5℃)</td>
                                    <td>15%(15%)</td>
                                    <td>45lux(45lux)</td>
                                    <td>20ppm(20ppm)</td>
                                    <td>45ppm(45ppm)</td>
                                    <td>이상없음</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="emConBox col-lg-6 Boxcustom">
                    <ul class="tableBox">
                        <div class="tabContainer">
                            <div class="tabTitle">
                                <h4>점등프로그램</h4>
                            </div>
                            <li class="tabBox">
                                <div class="tabItem active">
                                    <a href="#">전체</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">1동</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">2동</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">3동</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">4동</a>
                                </div>
                            </li>
                        </div>
                        <table class="farmTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>품종</th>
                                    <th>사육형태</th>
                                    <th>부화일</th>
                                    <th>기간</th>
                                    <th>일출</th>
                                    <th>일몰</th>
                                    <th>점등</th>
                                    <th>소등</th>
                                    <th>밝기</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>하이라인브라운</td>
                                    <td>뜬장/무창</td>
                                    <td>21.11.15</td>
                                    <td>25주</td>
                                    <td>07:46</td>
                                    <td>17:26</td>
                                    <td>01:30</td>
                                    <td>09:00</td>
                                    <td>25lux</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>하이라인브라운</td>
                                    <td>평사/유창</td>
                                    <td>21.10.05</td>
                                    <td>30주</td>
                                    <td>07:46</td>
                                    <td>17:22</td>
                                    <td>01:00</td>
                                    <td>09:00</td>
                                    <td>30lux</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>이사브라운</td>
                                    <td>방목형</td>
                                    <td>21.11.23</td>
                                    <td>26주</td>
                                    <td>07:46</td>
                                    <td>17:22</td>
                                    <td>02:00</td>
                                    <td>07:00</td>
                                    <td>30lux</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>하이라인브라운</td>
                                    <td>뜬장/무창</td>
                                    <td>21.10.15</td>
                                    <td>31주</td>
                                    <td>07:46</td>
                                    <td>17:22</td>
                                    <td>03:00</td>
                                    <td>08:00</td>
                                    <td>30lux</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>이사브라운</td>
                                    <td>뜬장/무창</td>
                                    <td>21.09.25</td>
                                    <td>26주</td>
                                    <td>07:46</td>
                                    <td>17:22</td>
                                    <td>02:00</td>
                                    <td>07:00</td>
                                    <td>30lux</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
                <div class="emConBox col-lg-6 Boxcustom">
                    <div class="tabTitle">
                        <h4>점등프로그램 그래프</h4>
                    </div>
                    <div class="light">
                        <img src="img/Light.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>
    <script src="js/mj_js.js"></script>
</body>
<script>
    // setTimeout(function(){window.location.href="/disease_management"}, 6000)
</script>
</html>