<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- Custom Styles-->
    <link href="css/custom-styles.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/EPIS.css" rel="stylesheet" />
    <link href="css/topEventcard.css" rel="stylesheet" />
    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- slider js -->
    <script type="text/javascript" src="js/slider.js"></script>
    <!-- Slick Plugin -->
    <link rel="stylesheet" type="text/css" href="plugin/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="plugin/slick/slick-theme.css" />
    <script type="text/javascript" src="plugin/slick/slick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
        integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>꼬꼬 대시보드</title>
</head>

<body>
    <div id="wrapper">
        <article id="wrapper-top">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <%- include ('top-navbar.html') %>
            </nav>
        </article>
        <article id="middle header">
            <div class="middlenav">
                <ul class="middle inner">
                    <li class="middle_title">
                        <p>농정원관리</p>
                    </li>
                    <li class="middle_caption">
                        <select id="farm">
                            <option value="한밭농장">한밭농장</option>
                            <option value="한밭농장">전체농장</option>
                            <option value="아리농장">아리농장</option>
                        </select>
                    </li>
                </ul>
            </div>
        </article>
        <div class="mainCon">
            <div class="mainConinner row">
                <div class="TopEventCon">
                    <ul class="Event">
                        <li class="TopEventItem col-lg-2 Boxcustom">
                            <p class="eventTitle">전송완료 건</p>
                            <p class="num">150건</p>
                            <p class="compare">전일 대비 50
                                <i class="fas fa-caret-up"></i>
                            </p>
                        </li>
                        <li class="TopEventItem col-lg-2 Boxcustom">
                            <p class="eventTitle">진송중인 건</p>
                            <p class="num">20건</p>
                            <p class="compare">전일대비 5
                                <i class="fas fa-caret-down"></i>
                            </p>
                        </li>
                        <li class="TopEventItem col-lg-2 Boxcustom">
                            <p class="eventTitle">전송 진행중</p>
                            <p class="num">100건</p>
                            <p class="compare">전일대비 10
                                <i class="fas fa-caret-up"></i>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="episConBox col-lg-12 Boxcustom">
                    <ul class="tableBox">
                        <div class="tabContainer">
                            <div class="tabarea">
                                <div class="tabTitle">
                                    <h4>환경센서</h4>
                                </div>
                            </div>
                            <div class="tabGroup">
                                <div class="tabButtonBox">
                                    <li class="tabBox">
                                        <div class="tabItem active">
                                            <a href="#">온도</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">습도</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">CO2</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">암모니아</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">조도</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">풍향</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">풍속</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">강우</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">음압</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">이산화항</a>
                                        </div>
                                        <div class="tabItem">
                                            <a href="#">복합악취</a>
                                        </div>
                                    </li>
                                </div>
                                <div class="tabright">
                                    <li class="tabButton">
                                        <div class="trButton">
                                            <input type="checkbox" id="trCheck">
                                            <p>검사대기(10)</p>
                                        </div>
                                    </li>
                                    <li class="tabButton">
                                        <div class="trButton">
                                            <input type="checkbox" id="trCheck">
                                            <p>전송중(25)</p>
                                        </div>
                                    </li>
                                    <li class="tabButton">
                                        <div class="trButton">
                                            <input type="checkbox" id="trCheck" checked>
                                            <p>전송완료(6)</p>
                                        </div>
                                    </li>
                                    <li class="dateBox">
                                        <input type="date" id="start" name="trip-start" value="2021-12-01"
                                            min="2022-01-01" max="2022-12-31">
                                        <input type="date" id="start" name="trip-start" value="2021-12-31"
                                            min="2022-01-01" max="2022-12-31">
                                        <button class="datesearch">검색</button>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <table class="farmTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>구분</th>
                                    <th>측정일시</th>
                                    <th>장치번호</th>
                                    <th>설치동</th>
                                    <th>설치구역</th>
                                    <th>측정값</th>
                                    <th>진행현황</th>
                                    <th>수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>온도</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>35℃</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>온도</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>35℃</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>온도</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>35℃</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>온도</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>35℃</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>온도</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>35℃</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
                <div class="episConBox col-lg-12 Boxcustom">
                    <ul class="tableBox">
                        <div class="tabarea">
                            <div class="tabTitle">
                                <h4>생산테이블</h4>
                            </div>
                        </div>
                        <div class="tabGroup">
                            <div class="tabButtonBox">
                                <li class="tabBox">
                                    <div class="tabItem active">
                                        <a href="#">난선별기</a>
                                    </div>
                                    <div class="tabItem">
                                        <a href="#">체중측정기</a>
                                    </div>
                                </li>
                            </div>
                            <div class="tabright">
                                <li class="tabButton">
                                    <div class="trButton">
                                        <input type="checkbox" id="trCheck">
                                        <p>검사대기(10)</p>
                                    </div>
                                </li>
                                <li class="tabButton">
                                    <div class="trButton">
                                        <input type="checkbox" id="trCheck">
                                        <p>전송중(25)</p>
                                    </div>
                                </li>
                                <li class="tabButton">
                                    <div class="trButton">
                                        <input type="checkbox" id="trCheck" checked>
                                        <p>전송완료(6)</p>
                                    </div>
                                </li>
                                <li class="dateBox">
                                    <input type="date" id="start" name="trip-start" value="2021-12-01" min="2022-01-01"
                                        max="2022-12-31">
                                    <input type="date" id="start" name="trip-start" value="2021-12-31" min="2022-01-01"
                                        max="2022-12-31">
                                    <button class="datesearch">검색</button>
                                </li>
                            </div>
                        </div>
                        <table class="farmTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>구분</th>
                                    <th>측정일시</th>
                                    <th>장치번호</th>
                                    <th>설치동</th>
                                    <th>계사번호</th>
                                    <th>큰왕란</th>
                                    <th>왕란</th>
                                    <th>특란</th>
                                    <th>대란</th>
                                    <th>중란</th>
                                    <th>소란</th>
                                    <th>경란</th>
                                    <th>등외</th>
                                    <th>혈란</th>
                                    <th>오파란</th>
                                    <th>쌍란</th>
                                    <th>기타</th>
                                    <th>평균난중</th>
                                    <th>진행상황</th>
                                    <th>수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>난선별기</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>58.5</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>전송중</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>난선별기</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>58.5</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>전송중</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>난선별기</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>58.5</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>전송중</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>난선별기</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>58.5</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>전송중</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>난선별기</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>58.5</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>59.2</td>
                                    <td>전송중</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
                <!-- <div class="episConBox col-lg-12 Boxcustom">
                    <ul class="tableBox">
                        <div class="tabContainer">
                            <div class="tabarea">
                                <div class="tabTitle">
                                    <h4>사양관리</h4>
                                </div>
                                <div class="tabButtonBox">
                                    <li class="tabButton">
                                        <div class="trButton">
                                            <input type="checkbox" id="trCheck">
                                            <p>검사대기(10)</p>
                                        </div>
                                    </li>
                                    <li class="tabButton">
                                        <div class="trButton">
                                            <input type="checkbox" id="trCheck">
                                            <p>전송중(25)</p>
                                        </div>
                                    </li>
                                    <li class="tabButton">
                                        <div class="trButton">
                                            <input type="checkbox" id="trCheck" checked>
                                            <p>전송완료(6)</p>
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <div class="tabGroup">
                                <li class="tabBox">
                                    <div class="tabItem active">
                                        <a href="#">사료빈</a>
                                    </div>
                                    <div class="tabItem">
                                        <a href="#">음수</a>
                                    </div>
                                </li>

                                <li class="dateBox">
                                    <input type="date" id="start" name="trip-start" value="2021-12-01" min="2022-01-01"
                                        max="2022-12-31">
                                    <input type="date" id="start" name="trip-start" value="2021-12-31" min="2022-01-01"
                                        max="2022-12-31">
                                    <button class="datesearch">검색</button>
                                </li>
                            </div>
                        </div>
                        <table class="farmTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>구분</th>
                                    <th>측정일시</th>
                                    <th>장치번호</th>
                                    <th>설치동</th>
                                    <th>설치구역</th>
                                    <th>사료빈중량</th>
                                    <th>사료배출량</th>
                                    <th>진행현황</th>
                                    <th>수정</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>사료빈</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>5동</td>
                                    <td>2-4</td>
                                    <td>150kg</td>
                                    <td>30kg</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>사료빈</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>2동</td>
                                    <td>5-8</td>
                                    <td>120kg</td>
                                    <td>20kg</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>사료빈</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>2동</td>
                                    <td>5-8</td>
                                    <td>120kg</td>
                                    <td>20kg</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>사료빈</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>2동</td>
                                    <td>5-8</td>
                                    <td>120kg</td>
                                    <td>20kg</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>사료빈</td>
                                    <td>21.11.15.15:20</td>
                                    <td>1254-1542</td>
                                    <td>2동</td>
                                    <td>5-8</td>
                                    <td>120kg</td>
                                    <td>20kg</td>
                                    <td>전송대기</td>
                                    <td><a href="#수정">수정</a><a href="#전송">전송</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>
    <script src="js/mj_js.js"></script>
</body>
<script>
    // setTimeout(function(){window.location.href="/spawn_analysis"}, 6000)
</script>
</html>