<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- Custom Styles-->
    <link href="css/custom-styles.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/feed_management.css" rel="stylesheet" />
    <link href="css/topEventcard.css" rel="stylesheet" />
    <!-- Script -->
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <!-- Slider js -->
    <script type="text/javascript" src="js/slider.js"></script>
    <!-- Slick Plugin -->
    <script type="text/javascript" src="plugin/slick/slick.js"></script>
    <link rel="stylesheet" type="text/css" href="plugin/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="plugin/slick/slick-theme.css" />
    <!-- Chart js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
        integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>꼬꼬 대시보드</title>
</head>

<body>
    <div id="wrapper">
        <article id="wrapper-top">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <%- include ('top-navbar.html') %>
            </nav>
        </article>
        <article id="middle header">
            <div class="middlenav">
                <ul class="middle inner">
                    <li class="middle_title">
                        <p>사료관리</p>
                    </li>
                    <li class="middle_caption">
                        <select id="farm">
                            <option value="한밭농장">한밭농장</option>
                            <option value="한밭농장">전체농장</option>
                            <option value="아리농장">아리농장</option>
                        </select>
                    </li>
                </ul>
            </div>
        </article>
        <div class="mainCon">
            <div class="mainConinner row">
                <div class="TopEventCon">
                    <ul class="Event">
                        <li class="TopEventItem col-lg-2 Boxcustom">
                            <p class="eventTitle">사료 소비량</p>
                            <p class="num">150kg</p>
                            <p class="compare">전일 대비 10kg
                                <i class="fas fa-caret-down"></i>
                            </p>
                        </li>
                        <li class="TopEventItem col-lg-2 Boxcustom">
                            <p class="eventTitle">kg당 단가</p>
                            <p class="num">₩600</p>
                            <p class="compare">전일대비 20
                                <i class="fas fa-caret-up"></i>
                            </p>
                        </li>
                        <li class="TopEventItem col-lg-2 Boxcustom">
                            <p class="eventTitle">1마리당 사료값</p>
                            <p class="num">₩20,000</p>
                            <p class="compare">전일대비 3,000
                                <i class="fas fa-caret-down"></i>
                            </p>
                        </li>
                        <li class="TopEventItem col-lg-2 Boxcustom">
                            <p class="eventTitle">누적 사료 사용량</p>
                            <p class="num">50,000kg</p>
                            <p class="compare">전일대비 1,000
                                <i class="fas fa-caret-up"></i>
                            </p>
                        </li>
                        <li class="TopEventItem col-lg-2 Boxcustom">
                            <p class="eventTitle">누적 사료 단가</p>
                            <p class="num">₩50,500,000</p>
                            <p class="compare">전년대비 1,000,000
                                <i class="fas fa-caret-down"></i>
                            </p>
                        </li>
                        <div class="slider">
                            <li class="TopEventItem col-lg-2 Boxcustom ">
                                <p class="eventTitle">사료 이슈내역</p>
                                <p class="num">1번 재고 확인</p>
                                <p class="compare down">재고량 30% 이하
                                    <i class="fas fa-caret-down"></i>
                                </p>
                            </li>
                            <li class="TopEventItem col-lg-2 Boxcustom ">
                                <p class="eventTitle">사료 이슈내역</p>
                                <p class="num">2번 재고 확인</p>
                                <p class="compare down">재고량 30% 이하
                                    <i class="fas fa-caret-down"></i>
                                </p>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="feedConBox col-lg-2 Boxcustom">
                    <div class="feedTitle">
                        <h4>1번 사료빈 - 1동</h4>
                    </div>
                    <div class="feedarea">
                        <img src="img/feed.png" alt="사료창고">
                    </div>
                    <div class="feedUInfo">
                        <ul class="infoBox">
                            <li class="infoItem">
                                <p>사료명</p>
                                <p>산란전기</p>
                            </li>
                            <li class="infoItem">
                                <p>전일 재고량</p>
                                <p>10kg</p>
                            </li>
                            <li class="infoItem">
                                <p>입고량</p>
                                <p>150kg</p>
                            </li>
                            <li class="infoItem">
                                <p>잔량</p>
                                <p>160kg</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="feedConBox col-lg-2 Boxcustom">
                    <div class="feedTitle">
                        <h4>2번 사료빈 - 2동</h4>
                    </div>
                    <div class="feedarea ">
                        <img src="img/feed.png" alt="사료창고">
                    </div>
                    <div class="feedUInfo">
                        <ul class="infoBox">
                            <li class="infoItem">
                                <p>사료명</p>
                                <p>중병아리</p>
                            </li>
                            <li class="infoItem">
                                <p>전일 재고량</p>
                                <p>10kg</p>
                            </li>
                            <li class="infoItem">
                                <p>입고량</p>
                                <p>150kg</p>
                            </li>
                            <li class="infoItem">
                                <p>잔량</p>
                                <p>160kg</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="feedConBox col-lg-2 Boxcustom">
                    <div class="feedTitle">
                        <h4>3번 사료빈 - 3동</h4>
                    </div>
                    <div class="feedarea">
                        <img src="img/feed.png" alt="사료창고">
                    </div>
                    <div class="feedUInfo">
                        <ul class="infoBox">
                            <li class="infoItem">
                                <p>사료명</p>
                                <p>초이사료</p>
                            </li>
                            <li class="infoItem">
                                <p>전일 재고량</p>
                                <p>10kg</p>
                            </li>
                            <li class="infoItem">
                                <p>입고량</p>
                                <p>150kg</p>
                            </li>
                            <li class="infoItem">
                                <p>잔량</p>
                                <p>160kg</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="feedConBox col-lg-2 Boxcustom">
                    <div class="feedTitle">
                        <h4>4번 사료빈 - 4동</h4>
                    </div>
                    <div class="feedarea">
                        <img src="img/feed.png" alt="사료창고">
                    </div>
                    <div class="feedUInfo">
                        <ul class="infoBox">
                            <li class="infoItem">
                                <p>사료명</p>
                                <p>산란중기</p>
                            </li>
                            <li class="infoItem">
                                <p>전일 재고량</p>
                                <p>100kg</p>
                            </li>
                            <li class="infoItem">
                                <p>입고량</p>
                                <p>150kg</p>
                            </li>
                            <li class="infoItem">
                                <p>잔량</p>
                                <p>250kg</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="feedConBox col-lg-2 Boxcustom">
                    <div class="feedTitle">
                        <h4>5번 사료빈 - 5동</h4>
                    </div>
                    <div class="feedarea">
                        <img src="img/feed.png" alt="사료창고">
                    </div>
                    <div class="feedUInfo">
                        <ul class="infoBox">
                            <li class="infoItem">
                                <p>사료명</p>
                                <p>산란중기</p>
                            </li>
                            <li class="infoItem">
                                <p>전일 재고량</p>
                                <p>150kg</p>
                            </li>
                            <li class="infoItem">
                                <p>입고량</p>
                                <p>200kg</p>
                            </li>
                            <li class="infoItem">
                                <p>잔량</p>
                                <p>350kg</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="feedConBox col-lg-6 Boxcustom">
                    <ul class="tableBox">
                        <div class="tabContainer">
                            <div class="tableTopCustom">
                                <div class="tabTitle">
                                    <h4>사료관리</h4>
                                </div>
                            </div>
                            <li class="tabBox">
                                <div class="tabItem active">
                                    <a href="#">전체</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">건식</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">습식</a>
                                </div>
                            </li>
                        </div>
                        <table class="farmTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>입고일자</th>
                                    <th>사료종류</th>
                                    <th>제품명</th>
                                    <th>제조원</th>
                                    <th>규격</th>
                                    <th>제품형태</th>
                                    <th>칼로리</th>
                                    <th>HACCP인증</th>
                                    <th>GMP원료</th>
                                    <th>제조국</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.08.15</td>
                                    <td>습식</td>
                                    <td>아리사료</td>
                                    <td>곰표</td>
                                    <td>500</td>
                                    <td>포대</td>
                                    <td>600</td>
                                    <td>O</td>
                                    <td>곡물</td>
                                    <td>한국</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>21.10.22</td>
                                    <td>건식</td>
                                    <td>건강사료</td>
                                    <td>곰표</td>
                                    <td>500</td>
                                    <td>포대</td>
                                    <td>950</td>
                                    <td>O</td>
                                    <td>곡물</td>
                                    <td>한국</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.09.25</td>
                                    <td>습식</td>
                                    <td>홍삼사료</td>
                                    <td>500</td>
                                    <td>곰표</td>
                                    <td>포대</td>
                                    <td>1150</td>
                                    <td>O</td>
                                    <td>조미</td>
                                    <td>한국</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>21.08.25</td>
                                    <td>건식</td>
                                    <td>칼슘사료</td>
                                    <td>500</td>
                                    <td>곰표</td>
                                    <td>포대</td>
                                    <td>850</td>
                                    <td>O</td>
                                    <td>굴껍질</td>
                                    <td>한국</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.09.25</td>
                                    <td>습식</td>
                                    <td>닭사료</td>
                                    <td>500</td>
                                    <td>곰표</td>
                                    <td>포대</td>
                                    <td>700</td>
                                    <td>O</td>
                                    <td>조미</td>
                                    <td>한국</td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
                <div class="feedConBox col-lg-6 Boxcustom">
                    <ul class="tableBox">
                        <div class="tabContainer">
                            <div class="tabTitle">
                                <h4>사료급여</h4>
                            </div>
                            <li class="tabBox">
                                <div class="tabItem active">
                                    <a href="#">1번</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">2번</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">3번</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">4번</a>
                                </div>
                                <div class="tabItem">
                                    <a href="#">5번</a>
                                </div>
                            </li>
                        </div>
                        <table class="farmTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>급여일자</th>
                                    <th>사료출고장소</th>
                                    <th>급여동/사료빈</th>
                                    <th>급여시각</th>
                                    <th>사료종류</th>
                                    <th>제조원</th>
                                    <th>제품명</th>
                                    <th>급여량(KG)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.08.22</td>
                                    <td>2번</td>
                                    <td>1동</td>
                                    <td>21.11.21 10:35</td>
                                    <td>습식</td>
                                    <td>곰표</td>
                                    <td>아리사료</td>
                                    <td>300KG</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.08.22</td>
                                    <td>1번</td>
                                    <td>2동</td>
                                    <td>21.11.21 10:35</td>
                                    <td>건식</td>
                                    <td>곰표</td>
                                    <td>건강사료</td>
                                    <td>150KG</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.08.22</td>
                                    <td>4번</td>
                                    <td>4동</td>
                                    <td>21.11.21 10:35</td>
                                    <td>습식</td>
                                    <td>곰표</td>
                                    <td>홍삼사료</td>
                                    <td>250KG</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>21.08.22</td>
                                    <td>4번</td>
                                    <td>4동</td>
                                    <td>21.11.21 10:35</td>
                                    <td>습식</td>
                                    <td>곰표</td>
                                    <td>홍삼사료</td>
                                    <td>250KG</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" checked></td>
                                    <td>21.08.22</td>
                                    <td>4번</td>
                                    <td>4동</td>
                                    <td>21.11.21 10:35</td>
                                    <td>습식</td>
                                    <td>곰표</td>
                                    <td>홍삼사료</td>
                                    <td>250KG</td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>
    <script src="js/mj_js.js"></script>
</body>
<script>
    // setTimeout(function(){window.location.href="/clinical_observation"}, 6000)
</script>
</html>