<div class="modal" id="myhatch01" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <li class="middle_title">
                    <p>1부화실</p>
                </li>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <!-- modal body -->
            <div class="modal-all">
                <div class="modal-body">
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>1번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">5</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>2번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">5</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>3번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">7</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>4번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">8</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchingIcon_no.png" alt="ON">
                                <p>5번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">0</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data">0</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>6번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">5</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>7번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">8</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchingIcon_no.png" alt="ON">
                                <p>8번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">0</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data">0</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>9번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">5</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myhatch02" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <li class="middle_title">
                    <p>2부화실</p>
                </li>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <!-- modal body -->
            <div class="modal-all">
                <div class="modal-body">
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>1번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">5</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>2번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">5</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>3번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">7</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchingIcon_no.png" alt="Off">
                                <p>4번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">0</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data">0</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>5번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">5</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="Boxcustom col-lg-4 modal_Container">
                        <div class="modal_hatchBox_right">
                            <li class="modal_right">
                                <img src="img/hatchImg.png" alt="ON">
                                <p>6번 부화기</p>
                            </li>
                        </div>
                        <div class="modal_hatchBox_left">
                            <li class="gear">
                                <img src="icon/GearIcon_G.png" alt="환경설정">
                            </li>
                            <li class="modal_left">
                                <p class="hatch_value">
                                    <span class="title">입란수</span>
                                    <span class="hatch_data">50</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">불량란</span>
                                    <span class="hatch_data red">5</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">온도</span>
                                    <span class="hatch_data">36℃</span>
                                </p>
                                <p class="hatch_value">
                                    <span class="title">습도</span>
                                    <span class="hatch_data">15%</span>
                                </p>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myhatch03" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <li class="middle_title">
                    <p>3부화실</p>
                </li>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>1번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>2번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>3번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">7</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>4번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">8</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>5번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>6번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myhatch04" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <li class="middle_title">
                    <p>4부화실</p>
                </li>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>1번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>2번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>3번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">7</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>4번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">8</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>5번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>6번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myhatch05" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- modal header -->
            <div class="modal-header">
                <li class="middle_title">
                    <p>5부화실</p>
                </li>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <!-- modal body -->
            <div class="modal-body">
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>1번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>2번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>3번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">7</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>4번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">8</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>5번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
                <div class="Boxcustom col-lg-4 modal_Container">
                    <div class="modal_hatchBox_right">
                        <li class="modal_right">
                            <img src="img/hatchImg.png" alt="ON">
                            <p>6번 부화기</p>
                        </li>
                    </div>
                    <div class="modal_hatchBox_left">
                        <li class="gear">
                            <img src="icon/GearIcon_G.png" alt="환경설정">
                        </li>
                        <li class="modal_left">
                            <p class="hatch_value">
                                <span class="title">입란수</span>
                                <span class="hatch_data">50</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">불량란</span>
                                <span class="hatch_data red">5</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">온도</span>
                                <span class="hatch_data">36℃</span>
                            </p>
                            <p class="hatch_value">
                                <span class="title">습도</span>
                                <span class="hatch_data">15%</span>
                            </p>
                        </li>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="pagination pagination-sm">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>