<div class="nav_top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
        data-target=".sidebar-collapse">
        <span class="sr-only"></span>
      </button>
      <a class="navbar-brand waves-effect waves-dark" href="index"><img src="img/logo.png" />
        <p><strong>KOKOBOT</strong></p>
        <br /><span>양계 농장 통합관리 시스템</span>
      </a>
      <div id="sideNav" href="">
        <i class="material-icons dp48">toc</i>
      </div>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i
            class="fa fa-envelope fa-fw"></i> 문서보관함<i class="material-icons right"></i></a>
      </li>
      <li>
        <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i
            class="fa fa-bell fa-fw"></i><span class="badge">10</span>알림<i class="material-icons right"></i></a>
      </li>
      <li>
        <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
            class="fa fa-user fa-fw"></i>농장주<i class="material-icons right"></i></a>
      </li>
    </ul>
    <div id="search-bar">
      <div id="search-bar-bg">
        <button id="search-btn" class="search-bar-btn">
          <img src="img/search.png" />
        </button>
        <form action="#" method="post">
          <input type="search" placeholder="검색어를 입력해보세요" />
        </form>
        <button id="close-btn" class="search-bar-btn">
          <img src="img/close.png" />
        </button>
      </div>
    </div>
  </div>
  <div class="nav_bot">
    <div id="under-navbar" class="" role="navigation">
      <ul>
        <li class="active">
          <i class="fa fa-user fa-fw"></i><br />대시보드<span class="after_tri active"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />축사현황<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />GP관리<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />HACCP<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />검교정관리<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />업무보고<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />경영관리<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />부화관리<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />분석<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />정부연계<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />기초정보<span class="after_tri"></span>
        </li>
      </ul>
    </div>
    <div id="sub-navbar">
      <ul class="active">
        <li><a href="/">홈</a></li>
        <li><a href="Farmstatus">전체</a></li>
        <li><a href="Farmdong">동정보</a></li>
        <li><a href="traceabiltty">이력제관리</a></li>
        <li><a href="access_management">출입관리</a></li>
        <li><a href="GP_management">GP관리</a></li>
        <li><a href="medicine_management">약품관리</a></li>
        <li><a href="feed_management">사료관리</a></li>
        <li><a href="clinical_observation">임상관찰</a></li>
        <li><a href="testresults">검사성적관리</a></li>
        <li><a href="EPIS_management">농정원관리</a></li>
      </ul>
      <ul class="">
        <li><a href="spawn_analysis">산란분석</a></li>
        <li><a href="hatch_management">부화관리</a></li>
        <li><a href="Environmental_management">환경분석</a></li>
        <li><a href="disease_management">질병방역관리</a></li>
        <li><a href="management">경영분석</a></li>
        <li><a href="upbringing_analysis">육성분석</a></li>
        <li><a href="haccp_monitoring">HACCP</a></li>
        <li><a href="messenger">메신저</a></li>
        <li><a href="Environmental_analysis">환경관리</a></li>
        <li><a href="Temperature_management">온도관리</a></li>
      </ul>
      <ul class="">
        <li><a href="Z_egg1_product">계란 입/출고</a></li>
        <li><a href="Z_farm_sm1_eggplate">부자재</a></li>
        <li><a href="GP_management">재고</a></li>
      </ul>
      <ul class="">
        <li><a href="haccp_monitoring">모니터링</a></li>
        <li><a href="Z_haccp_test1_self_hen">프로그램</a></li>
        <li><a href="Z_farm_chicken3_in">닭 입/출하</a></li>
        <li><a href="Z_farm_edu1_edu">교육/회의</a></li>
        <li><a href="Z_farm_water1-d-use">음용수</a></li>
        <li><a href="Z_farm_feed1_in">사료</a></li>
        <li><a href="Z_farm_medicine1_in">약품</a></li>
        <li><a href="Z_watch1_list">임상관찰</a></li>
        <li><a href="Z_farm_poop1_bunyo">반품,폐기물</a></li>
      </ul>
      <ul class="">
        <li><a href="Z_farm_system1_fix">검교정관리</a></li>
        <li><a href="Z_farm_test1_apply">인증관리</a></li>
      </ul>
      <ul class="">
        <li><a href="#">기초정보</a></li>
      </ul>
      <ul class="">
        <li><a href="GP_management">거래내역</a></li>
        <li><a href="management">경영분석</a></li>
        <li><a href="#">재고관리</a></li>
      </ul>
      <ul class="">
        <li><a href="basicInfo_hatch">부화관리</a></li>
        <!-- <li><a href="Z_farm_water1-d-use">음용수</a></li>
        <li><a href="Z_farm_feed1_in">사료</a></li>
        <li><a href="#페이지없음">조명</a></li>
        <li><a href="Z_farm_medicine1_in">약품과백신</a></li>
        <li><a href="upbringing_analysis">관리</a></li> -->
      </ul>
      <ul class="">
        <li><a href="upbringing_analysis">육성분석</a></li>
        <li><a href="spawn_analysis">산란분석</a></li>
        <li><a href="management">경영분석</a></li>
        <li><a href="disease_management">질병분석</a></li>
        <li><a href="Environmental_management">환경분석</a></li>
        <li><a href="access_management">출입분석</a></li>
      </ul>
      <ul class="">
        <li><a href="#">정부연계</a></li>
      </ul>
      <ul class="">
        <li><a href="Z_basicInfo_farm">기초정보</a></li>
        <li><a href="#페이지없음">품목코드관리</a></li>
        <li><a href="#페이지없음">품종표준</a></li>
        <li><a href="Z_basicInfo_user">사용자관리</a></li>
        <li><a href="fullcalendar">일정관리</a></li>
        <li><a href="Z_basicInfo_hatch01">부화동</a></li>
      </ul>
    </div>
  </div>