<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>kokobot</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Bootstrap Styles-->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link rel="stylesheet" href="css/font-awesome.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

  <!-- jQuery Js -->
  <script src="js/jquery-1.10.2.js"></script>

  <!-- 달력 -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> -->
  <script type="text/javascript" src="calendar/moment.js"></script>
  <script type="text/javascript" src="calendar/moment-with-locales.js"></script>
  <script type="text/javascript" src="calendar/daterangepicker.js"></script>
  <script type="text/javascript" src="calendar/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="calendar/daterangepicker.css" />

  <!-- 숫자키패드 -->
  <link href="css/num_keypad.css" rel="stylesheet" />
  <script type="text/javascript" src="js/num_keypad.js"></script>

  <!-- Custom Styles-->
  <link href="css/custom-styles.css" rel="stylesheet" />
  <link href="css/form.css" rel="stylesheet" />
  <link href="css/table.css" rel="stylesheet" />
  <link href="css/media.css" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="wrapper">
    <article id="wrapper-top">
      <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="nav_top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
              data-target=".sidebar-collapse">
              <span class="sr-only"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html"><img src="img/logo.png" />
              <p><strong>KOKOBOT</strong></p>
              <br /><span>양계 농장 통합관리 시스템</span>
            </a>
            <div id="sideNav" href="">
              <i class="material-icons dp48">toc</i>
            </div>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i
                  class="fa fa-envelope fa-fw"></i> 문서보관함<i class="material-icons right"></i></a>
            </li>
            <li>
              <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i
                  class="fa fa-tasks fa-fw"></i> 하하하<i class="material-icons right"></i></a>
            </li>
            <li>
              <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i
                  class="fa fa-bell fa-fw"></i><span class="badge">10</span>알림<i class="material-icons right"></i></a>
            </li>
            <li>
              <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
                  class="fa fa-user fa-fw"></i>농장주<i class="material-icons right"></i></a>
            </li>
          </ul>
          <div id="search-bar">
            <div id="search-bar-bg">
              <button id="search-btn" class="search-bar-btn">
                <img src="img/search.png" />
              </button>
              <form action="#" method="post">
                <input id="search-word" type="search" placeholder="검색어를 입력해보세요" />
              </form>
              <button id="close-btn" class="search-bar-btn">
                <img src="img/close.png" />
              </button>
            </div>
          </div>
        </div>
        <div class="nav_bot">
          <div id="under-navbar" class="" role="navigation">
            <ul>
              <li class="active">
                <i class="fa fa-user fa-fw"></i><br />메뉴정보1<span class="after_tri active"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보2<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보3<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보4<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보5<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보6<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보7<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보8<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보9<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보10<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보11<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보12<span class="after_tri"></span>
              </li>
            </ul>
          </div>
          <div id="sub-navbar">
            <ul class="active">
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브4</a></li>
              <li><a href="#">서브4</a></li>
              <li><a href="#">서브4</a></li>
              <li><a href="#">서브4</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브5</a></li>
              <li><a href="#">서브5</a></li>
              <li><a href="#">서브5</a></li>
              <li><a href="#">서브5</a></li>
              <li><a href="#">서브5</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브10</a></li>
              <li><a href="#">서브10</a></li>
              <li><a href="#">서브10</a></li>
              <li><a href="#">서브10</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브11</a></li>
              <li><a href="#">서브11</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브12</a></li>
              <li><a href="#">서브12</a></li>
              <li><a href="#">서브12</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li>
          <a href="#"><i class="fa fa-user fa-fw"></i>기초정보</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-gear fa-fw"></i>설정</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-sign-out fa-fw"></i>로그아웃</a>
        </li>
      </ul>
    </article>
    <!--/. NAV TOP  -->
    <article id="wrapper-under">
      <div class="left-side">
        <nav class="navbar-default navbar-side" role="navigation">
          <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
              <li class="subsub">
                <a href="http://58.230.162.173/page.php?code=basicInfo_farm" class="waves-effect"><i class="fas fa-check-circle"></i>농장기초정보<span class="fa arrow"></span></a>
              </li>
              <li class="subsub">
                <a href="http://58.230.162.173/page.php?code=basicInfo_dong" class="waves-effect"><i class="fas fa-check-circle"></i>계사동기초정보<span class="fa arrow"></span></a>
              </li>
              <li class="subsub active">
                <a href="http://58.230.162.173/page.php?code=basicInfo_user" class="waves-effect"><i class="fas fa-check-circle"></i>사용자기초정보</a>
              </li>
              <li class="subsub">
                <a href="http://58.230.162.173/page.php?code=basicInfo_account" class="waves-effect"><i class="fas fa-check-circle"></i>거래처기초정보<span class="fa arrow"></span></a>
              </li>
              <li class="subsub">
                <a href="http://58.230.162.173/page.php?code=basicInfo_price" class="waves-effect"><i class="fas fa-check-circle"></i>단가기초정보<span class="fa arrow"></span></a>
              </li>
              <li class="subsub">
                <a href="#" class="waves-effect"><i class="fas fa-check-circle"></i>관리프로그램<span class="fa arrow"></span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
        <div id="page-inner">
          <!-- /. ROW  -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 prog1 active">
              <div class="row prog2 active">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="top-card col-md-8">
                    <div class="">
                      <div class="search-box">
                        <form action="#">
                          <div class="cardrow">
                            <div class="">
                              <div class="col-125">
                                <label for="fname">이름</label>
                              </div>
                              <div class="col-175">
                                <div class="form">
                                  <input class="" type="text" placeholder="" value="">
                                </div>
                              </div>
                            </div>
                            <div class="">
                              <div class="col-125">
                                <label for="fname">아이디</label>
                              </div>
                              <div class="col-175">
                                <div class="form">
                                  <input class="" type="text" placeholder="" value="">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="">
                              <div class="col-125">
                                <label for="fname" style="position: static; transform: none; margin-top: 13px;">직책</label>
                              </div>
                              <div class="col-175">
                                <div class="form">
                                  <div class="chk-box chk-box-auto">
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk0" class="" />
                                      <label for="chk0">사장</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk1" class="" />
                                      <label for="chk1">농장장</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk2" class="" />
                                      <label for="chk2">전무이사</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk3" class="" />
                                      <label for="chk3">상무이사</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk4" class="" />
                                      <label for="chk4">이사</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk5" class="" />
                                      <label for="chk5">부장</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk6" class="" />
                                      <label for="chk6">차장</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk7" class="" />
                                      <label for="chk7">과장</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk8" class="" />
                                      <label for="chk8">대리</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk9" class="" />
                                      <label for="chk9">팀장</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk10" class="" />
                                      <label for="chk10">주임</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk11" class="" />
                                      <label for="chk11">사원</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk12" class="" />
                                      <label for="chk12">계약직</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk13" class="" />
                                      <label for="chk13">임시직</label>
                                    </div>
                                    <div class="chk-group">
                                      <input type="checkbox" id="chk14" class="" />
                                      <label for="chk14">일용직</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="search-box-btn">
                            <button><i class="fa fa-search"></i> 조회</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="bot-card col-md-12">
                    <div class="">
                      <div class="">
                        <form action="#">
                          <div class="tabletop-btn">
                            <button id="newbtn-userinfo" class="newbtn" onclick="return false" style="background-color: #223189; color: #fff;">신규등록</button>
                            <button onclick="return false"><i class="fas fa-angle-double-left"></i></button>
                            <button onclick="return false"><i class="fas fa-angle-left"></i></button>
                            <button onclick="return false">1</button>
                            <button onclick="return false">2</button>
                            <button onclick="return false">3</button>
                            <button onclick="return false"><i class="fas fa-angle-right"></i></button>
                            <button onclick="return false"><i class="fas fa-angle-double-right"></i></button>
                          </div>
                          <div class="tablerow">
                            <table class="basic_info_table set-table w-100">
                              <colgroup>
                                  <col style="width: 5%;">
                                  <col style="width: 5%;">
                                  <col style="width: 5%;">
                                  <col style="width: 10%;">
                                  <col style="width: 5%;">
                                  <col style="width: 15%;">
                                  <col style="width: 15%;">
                              </colgroup>
                              <thead>
                                <tr>
                                  <th>이름</th>
                                  <th>직책</th>
                                  <th>연락처</th>
                                  <th>이메일</th>
                                  <th>사용자구분</th>
                                  <th>접근권한</th>
                                  <th>담당결제권</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><input type="text" placeholder=""></td>
                                  <td><input type="text" placeholder=""></td>
                                  <td><input type="text" placeholder=""></td>
                                  <td><input type="text" placeholder=""></td>
                                  <td><input type="text" placeholder=""></td>
                                  <td><input type="text" placeholder=""></td>
                                  <td><input type="text" placeholder=""></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <footer>
            <div class="fbtn-group">
              <button class="fpdf">PDF출력</button>
              <button class="fexcel">엑셀 다운로드</button>
              <button class="fexcel">엑셀 업로드</button>
              <button class="finit">초기화</button>
              <button class="fsave">저장</button>
            </div>
          </footer>
        </div>
        <!-- /. PAGE INNER  -->
      </div>
    </article>
    <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
  <!-- JS Scripts-->

  <!-- Bootstrap Js -->
  <script src="js/bootstrap.min.js"></script>
  <script src="materialize/js/materialize.min.js"></script>

  <!-- Metis Menu Js -->
  <script src="js/jquery.metisMenu.js"></script>

  <!-- Custom Js -->
  <script src="js/custom-scripts.js"></script>
  <script src="js/common.js"></script>
</body>

</html>