<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>kokobot</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Bootstrap Styles-->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

  <!-- jQuery Js -->
  <script src="js/jquery-1.10.2.js"></script>

  <!-- 달력 -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> -->
  <script type="text/javascript" src="calendar/moment.js"></script>
  <script type="text/javascript" src="calendar/moment-with-locales.js"></script>
  <script type="text/javascript" src="calendar/daterangepicker.js"></script>
  <script type="text/javascript" src="calendar/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="calendar/daterangepicker.css" />

  <!-- 숫자키패드 -->
  <link href="css/num_keypad.css" rel="stylesheet" />
  <script type="text/javascript" src="js/num_keypad.js"></script>

  <!-- Custom Styles-->
  <link href="css/custom-styles.css" rel="stylesheet" />
  <link href="css/form.css" rel="stylesheet" />
  <link href="css/table.css" rel="stylesheet" />
  <link href="css/media.css" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="wrapper">
    <article id="wrapper-top">
      <nav class="navbar navbar-default top-navbar" role="navigation">
        <%- include ('top-navbar.html') %>
      </nav>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li>
          <a href="#"><i class="fa fa-user fa-fw"></i>기초정보</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-gear fa-fw"></i>설정</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-sign-out fa-fw"></i>로그아웃</a>
        </li>
      </ul>
    </article>
    <!--/. NAV TOP  -->
    <article id="wrapper-under">
      <div class="left-side">
        <nav class="navbar-default navbar-side" role="navigation">
          <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
              <li class="active">
                <a href="egg01.html" class="waves-effect"><i class="fas fa-check-circle"></i>생산선별<span
                    class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="#" class="prog1-active">
                      <span></span>생산선별<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse in">
                      <li class="prog2-active">
                        <a href="#">1. 생산선별정보 </a><button>수정</button>
                      </li>
                      <li>
                        <a href="#">2. 임상관찰</a><button>수정</button>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="egg02.html" class="waves-effect waves-dark"><i class="fas fa-check-circle"></i>계란출하<span
                    class="fa arrow"></span></a>
              </li>
              <li>
                <a href="egg03.html" class="waves-effect waves-dark"><i class="fas fa-check-circle"></i>계란반품/회수<span
                    class="fa arrow"></span></a>
              </li>
              <li>
                <a href="egg04.html" class="waves-effect waves-dark"><i class="fas fa-check-circle"></i>계란입고<span
                    class="fa arrow"></span></a>
              </li>
              <li>
                <a href="egg05.html" class="waves-effect waves-dark"><i class="fas fa-check-circle"></i>계란폐기</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
        <div id="page-inner">
          <!-- /. ROW  -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 prog1 active">
              <div class="row prog2 active">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="top-card col-md-8">
                    <div class="">
                      <div class="inner-box">
                        <form action="#">
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">생산일시</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input type="text" class="datetime date-input" name="" value="" />
                                  <span><i class="far fa-calendar-alt"></i></span>
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">유통기한</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input type="text" class="datetime date-input" name="" value="" />
                                  <span><i class="far fa-calendar-alt"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">

                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">보관방법</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <fieldset class="radio-bg">
                                    <div class="radio-group float-left" style="margin-right: 5px;">
                                      <input type="radio" name="radio_1" value="상온" id="radio_1_1" class="float-left" checked />
                                      <label class="float-left" for="radio_1_1">상온</label>
                                    </div>
                                    <div class="radio-group float-left">
                                      <input type="radio" name="radio_1" value="냉장" id="radio_1_2" class="float-left" />
                                      <label class="float-left" for="radio_1_2">냉장</label>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="bot-card col-md-12">
                    <div class="">
                      <div class="">
                        <form action="#">
                          <div class="tabletop-btn">
                            <button id="newbtn-certify-account" class="newbtn" onclick="return false" style="background-color: #223189; color: #fff;">신규등록</button>
                            <button onclick="return false"><i class="fas fa-angle-double-left"></i></button>
                            <button onclick="return false"><i class="fas fa-angle-left"></i></button>
                            <button onclick="return false">1</button>
                            <button onclick="return false">2</button>
                            <button onclick="return false">3</button>
                            <button onclick="return false"><i class="fas fa-angle-right"></i></button>
                            <button onclick="return false"><i class="fas fa-angle-double-right"></i></button>
                          </div>
                          <!-- <div class="cardrow tablerow"> -->
                          <div class="tablerow">
                            <table class="egg_table">
                              <colgroup>
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 5%;">
                                <col style="width: 7%;">
                              </colgroup>
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>큰왕란</th>
                                  <th>왕란</th>
                                  <th>특란</th>
                                  <th>대란</th>
                                  <th>중란</th>
                                  <th>소란</th>
                                  <th>경란</th>
                                  <th>등외</th>
                                  <th>혈란</th>
                                  <th>오파란</th>
                                  <th>쌍란</th>
                                  <th>곰보</th>
                                  <th>점박이</th>
                                  <th>기형</th>
                                  <th>잠재크랙</th>
                                  <th>탈색</th>
                                  <th>물란</th>
                                  <th>합계</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><span>선별수량</span></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input disabled type="number"></td>
                                </tr>
                                <tr>
                                  <td><span>조정수량</span></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input disabled type="number"></td>
                                </tr>
                                </tr>
                                <tr class="sum-row">
                                  <td><span>실수량</span></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                </tr>
                                </tr>
                                <tr>
                                  <td><span>난중</span></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input type="number"></td>
                                  <td><input disabled type="number"></td>
                                </tr>
                                <tr class="sum-row">
                                  <td><span>비율1</span></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                  <td><input disabled type="number"></td>
                                </tr>
                                <tr class="sum-row">
                                  <td><span>비율2</span></td>
                                  <td colspan="7"><input disabled type="number" placeholder="정산란 비율 :"></td>
                                  <td colspan="10"><input disabled type="number" placeholder="비정산란 비율 :"></td>
                                  <td ><input disabled type="number"></td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <td>합계</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row prog2">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="top-card col-md-8">
                    <div class="">
                      <div class="inner-box">
                        <form action="#">
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">CCP2B</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <select id="" name="" aria-placeholder="fkdfj">
                                    <option value="">선택</option>
                                    <option value="australia">Australia</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">CCP2B 조치</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <select id="country" name="country">
                                    <option value="">선택</option>
                                    <option value="australia">Australia</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">CCP2C</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <select id="" name="" aria-placeholder="fkdfj">
                                    <option value="">선택</option>
                                    <option value="australia">Australia</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">CCP2C 조치</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <select id="country" name="country">
                                    <option value="">선택</option>
                                    <option value="australia">Australia</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="">
                              <div class="col-125">
                                <label for="fname">비고</label>
                              </div>
                              <div class="col-175">
                                <div class="form">
                                  <input class="" type="text" placeholder="" value="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 right-side">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="">
                      <div class="inner-box">
                        <form action="#">
                          <div class="tabletop-btn">
                            <button id="newbtn-certify-account" class="newbtn" onclick="return false" style="background-color: #223189; color: #fff;">신규등록</button>
                            <button onclick="return false"><i class="fas fa-angle-double-left"></i></button>
                            <button onclick="return false"><i class="fas fa-angle-left"></i></button>
                            <button onclick="return false">1</button>
                            <button onclick="return false">2</button>
                            <button onclick="return false">3</button>
                            <button onclick="return false"><i class="fas fa-angle-right"></i></button>
                            <button onclick="return false"><i class="fas fa-angle-double-right"></i></button>
                          </div>
                          <div class="tablerow">
                            <table>
                              <thead>
                                <tr>
                                  <th>0</th>
                                  <th>등록일자</th>
                                  <th>입고시각</th>
                                  <th>제품명</th>
                                  <th>제품명</th>
                                  <th>제품명</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>
                                    <span>2021-08-01</span>
                                  </td>
                                  <td>
                                    <span>01:00:00</span>
                                  </td>
                                  <td>
                                    <span></span>
                                  </td>
                                  <td>
                                    <span></span>
                                  </td>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
          </div>
          <footer>
            <div>
              <div class="fbtn-group-left">
                <button class="fprev">이전</button>
                <button class="fafter">다음</button>
                <button class="fsave">저장</button>
                <button class="finit">초기화</button>
              </div>
              <div class="fbtn-group-right">
                <button class="fpdf">PDF 다운로드</button>
                <button class="fexcel excelDown">엑셀 다운로드</button>
                <button class="fexcel excelUp">엑셀 업로드</button>
              </div>
            </div>
          </footer>
        </div>
        <!-- /. PAGE INNER  -->
      </div>
    </article>
    <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
  <!-- JS Scripts-->

  <!-- Bootstrap Js -->
  <script src="js/bootstrap.min.js"></script>
  <script src="materialize/js/materialize.min.js"></script>

  <!-- Metis Menu Js -->
  <script src="js/jquery.metisMenu.js"></script>
  <script src="js/mj_js.js"></script>
  <!-- Custom Js -->
  <script src="js/custom-scripts.js"></script>
  <script src="js/common.js"></script>
</body>

</html>