<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>kokobot</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Bootstrap Styles-->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

  <!-- jQuery Js -->
  <script src="js/jquery-1.10.2.js"></script>
    
  <!-- 달력 -->
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> -->
  <script type="text/javascript" src="calendar/moment.js"></script>
  <script type="text/javascript" src="calendar/moment-with-locales.js"></script>
  <script type="text/javascript" src="calendar/daterangepicker.js"></script>
  <script type="text/javascript" src="calendar/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="calendar/daterangepicker.css" />

  <!-- 숫자키패드 -->
  <link href="css/num_keypad.css" rel="stylesheet" />
  <script type="text/javascript" src="js/num_keypad.js"></script>

  <!-- Custom Styles-->
  <link href="css/custom-styles.css" rel="stylesheet" />
  <link href="css/form.css" rel="stylesheet" />
  <link href="css/table.css" rel="stylesheet" />
  <link href="css/media.css" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="wrapper">
    <article id="wrapper-top">
      <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="nav_top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
              data-target=".sidebar-collapse">
              <span class="sr-only"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html"><img src="img/logo.png" />
              <p><strong>KOKOBOT</strong></p>
              <br /><span>양계 농장 통합관리 시스템</span>
            </a>
            <div id="sideNav" href="">
              <i class="material-icons dp48">toc</i>
            </div>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i
                  class="fa fa-envelope fa-fw"></i> 문서보관함<i class="material-icons right"></i></a>
            </li>
            <li>
              <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i
                  class="fa fa-tasks fa-fw"></i> 하하하<i class="material-icons right"></i></a>
            </li>
            <li>
              <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i
                  class="fa fa-bell fa-fw"></i><span class="badge">10</span>알림<i class="material-icons right"></i></a>
            </li>
            <li>
              <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
                  class="fa fa-user fa-fw"></i>농장주<i class="material-icons right"></i></a>
            </li>
          </ul>
          <div id="search-bar">
            <div id="search-bar-bg">
              <button id="search-btn" class="search-bar-btn">
                <img src="img/search.png" />
              </button>
              <form action="#" method="post">
                <input type="search" placeholder="검색어를 입력해보세요" />
              </form>
              <button id="close-btn" class="search-bar-btn">
                <img src="img/close.png" />
              </button>
            </div>
          </div>
        </div>
        <div class="nav_bot">
          <div id="under-navbar" class="" role="navigation">
            <ul>
              <li class="active">
                <i class="fa fa-user fa-fw"></i><br />메뉴정보1<span class="after_tri active"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보2<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보3<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보4<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보5<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보6<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보7<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보8<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보9<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보10<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보11<span class="after_tri"></span>
              </li>
              <li>
                <i class="fa fa-user fa-fw"></i><br />메뉴정보12<span class="after_tri"></span>
              </li>
            </ul>
          </div>
          <div id="sub-navbar">
            <ul class="active">
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
              <li><a href="#">서브1</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
              <li><a href="#">서브2</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
              <li><a href="#">서브3</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브4</a></li>
              <li><a href="#">서브4</a></li>
              <li><a href="#">서브4</a></li>
              <li><a href="#">서브4</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브5</a></li>
              <li><a href="#">서브5</a></li>
              <li><a href="#">서브5</a></li>
              <li><a href="#">서브5</a></li>
              <li><a href="#">서브5</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
              <li><a href="#">서브6</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
              <li><a href="#">서브7</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
              <li><a href="#">서브8</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
              <li><a href="#">서브9</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브10</a></li>
              <li><a href="#">서브10</a></li>
              <li><a href="#">서브10</a></li>
              <li><a href="#">서브10</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브11</a></li>
              <li><a href="#">서브11</a></li>
            </ul>
            <ul class="">
              <li><a href="#">서브12</a></li>
              <li><a href="#">서브12</a></li>
              <li><a href="#">서브12</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li>
          <a href="#"><i class="fa fa-user fa-fw"></i>기초정보</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-gear fa-fw"></i>설정</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-sign-out fa-fw"></i>로그아웃</a>
        </li>
      </ul>
    </article>
    <!--/. NAV TOP  -->
    <article id="wrapper-under">
      <div class="left-side">
        <nav class="navbar-default navbar-side" role="navigation">
          <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
              <li class="active">
                <a href="#" class="waves-effect"><i class="fas fa-check-circle"></i>환경센서 직접측정입력<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li>
                    <a href="#" class="prog1-active">
                      <span>1</span> 원･부재료 반입단계<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level collapse in prog2-active">
                      <li>
                        <a href="#">1. 입추동 </a><button>수정</button>
                      </li>
                      <li>
                        <a href="#">2. 프로그레스바2</a><button>수정</button>
                      </li>
                      <li>
                        <a href="#">3. 프로그레스바2</a><button>수정</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>2</span> 프로그레스바1<span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                      <li>
                        <a href="#">프로그레스바2</a><button>수정</button>
                      </li>
                      <li>
                        <a href="#">프로그레스바2</a><button>수정</button>
                      </li>
                      <li>
                        <a href="#">프로그레스바2</a><button>수정</button>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><span>3</span> 프로그레스바1</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="waves-effect waves-dark"><i class="fas fa-check-circle"></i>서서브</a>
              </li>
              <li>
                <a href="#" class="waves-effect waves-dark"><i class="fas fa-check-circle"></i></i>서서브</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
        <div id="page-inner">
          <!-- /. ROW  -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 prog1 active">
              <div class="row prog2 active">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="top-card col-md-8">
                    <div class="card-panel">
                      <div class="inner-box">
                        <form action="#">
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">넘버+체크</label>
                              </div>
                              <div class="col-75" style="position: relative;">
                                <div class="form with-chk">
                                  <input class="search-input" type="number" placeholder="넘버" value="">
                                  <span>원</span>
                                </div>
                                <div class="chk-group">
                                  <input type="checkbox" id="nego" class="" />
                                  <label for="nego">협의가능</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">서치인풋</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input class="search-input" type="text" placeholder="텍스트+검색버튼" value="">
                                  <div class="btn-group">
                                    <input type="button" class="search-btn" />
                                    <i class="fa fa-search"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">라디오</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <fieldset class="radio-bg non-bg">
                                    <div class="radio-group float-left col-lg-5 col-xs-5">
                                      <input type="radio" name="radio-test2" value="예" checked class="float-left" />
                                      <label class="float-left">예</label>
                                    </div>
                                    <div class="radio-group float-left col-lg-7 col-xs-7">
                                      <input type="radio" name="radio-test2" value="아니오" class="float-left" />
                                      <label class="float-left">아니오</label>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">서치인풋+텍스트</label>
                              </div>
                              <div class="col-75">
                                <div class="form half">
                                  <input class="search-input" type="text" placeholder="거래처" value="">
                                  <div class="btn-group">
                                    <input type="button" class="search-btn" />
                                    <i class="fa fa-search"></i>
                                  </div>
                                </div>
                                <div class="form half">
                                  <input class="input" type="text" placeholder="거래처" value="">
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">넘버인풋2개</label>
                              </div>
                              <div class="col-75 relative">
                                <div class="form half input-box">
                                  <input type="text" class="search-input num-input" placeholder="숫자" value="">
                                  <span class="unit-fix" >마리</span>
                                </div>
                                <div class="form half input-box">
                                  <input class="search-input num-input" type="number" placeholder="숫자" class="unit-fix"
                                    value="">
                                    <span class="unit-fix" >마리</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">셀렉트</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <select id="country" name="country">
                                    <option value="australia">Australia</option>
                                    <option value="canada">Canada</option>
                                    <option value="usa">USA</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">셀렉트+텍스트</label>
                              </div>
                              <div class="col-75">
                                <div class="form half">
                                  <select id="country" name="country">
                                    <option>관찰내용</option>
                                    <option value="개구호흡">개구호흡</option>
                                    <option value="경직">경직</option>
                                  </select>
                                </div>
                                <div class="form half">
                                  <input type="text" placeholder="상세사항">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">셀렉트2개</label>
                              </div>
                              <div class="col-75">
                                <div class="form unit-left">
                                  <select id="country" name="country">
                                    <option value="australia">Australia</option>
                                    <option value="canada">Canada</option>
                                    <option value="usa">USA</option>
                                  </select>
                                </div>
                                <div class="form unit-right">
                                  <select id="country" name="country">
                                    <option value="kg">kg</option>
                                    <option value="t">t</option>
                                    <option value="L">L</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">첨부파일</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input class="search-input" type="text" placeholder="" value="">
                                  <div class="btn-group">
                                    <input type="button" class="search-btn" />
                                    <i class="fas fa-paperclip"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">텍스트</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input type="text" placeholder="그냥 인풋 텍스트">
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">날짜시간</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input type="text" class="datetime date-input" name="" value="" />
                                  <span><i class="far fa-calendar-alt"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputleft">
                              <div class="col-25">
                                <label for="fname">날짜</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input type="text" class="date date-input" name="" value="" />
                                  <span><i class="far fa-calendar-alt"></i></span>
                                </div>
                              </div>
                            </div>
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">시간</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input type="text" class="time date-input" name="" value="" />
                                  <span><i class="far fa-calendar-alt"></i></span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">넘버인풋</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input class="search-input" type="number" placeholder="넘버" value="">
                                  <span>원</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cardrow">
                            <div class="inputright">
                              <div class="col-25">
                                <label for="fname">텍스트</label>
                              </div>
                              <div class="col-75">
                                <div class="form">
                                  <input class="" type="text" placeholder="" value="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="bot-card col-md-12">
                    <div class="card-panel">
                      <div class="inner-box">
                        <form action="#">
                          <div class="tabletop-btn">
                            <input type="button" value="팝업버튼"></input>
                            <input type="button" value="1"></input>
                            <input type="button" value="1"></input>
                            <input type="button" value="1"></input>
                            <input type="button" value="1"></input>
                            <input type="button" value="1"></input>
                            <input type="button" value="1"></input>
                            <input type="button" value="1"></input>
                          </div>
                          <!-- <div class="cardrow tablerow"> -->
                          <div class="tablerow">
                            <table>
                              <thead>
                                <tr>
                                  <th>0</th>
                                  <th>입고장소</th>
                                  <th>입고시각</th>
                                  <th>제품명</th>
                                  <th>사료구분</th>
                                  <th>LOT번호</th>
                                  <th>유통기간</th>
                                  <th>제조일자</th>
                                  <th>유통기한</th>
                                  <th>수량</th>
                                  <th>단위</th>
                                  <th>단가</th>
                                  <th>부가세</th>
                                  <th>금액</th>
                                  <th>
                                    <div class="row-btn row-add" onclick="rowAdd(this)"></div>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>
                                    <select>
                                      <option value="사료빈1">사료빈1</option>
                                      <option value="사료빈2">사료빈2</option>
                                      <option value="사료빈3">사료빈3</option>
                                    </select>
                                  </td>
                                  <td>
                                    <input type="text" class="time" name="" value="" />
                                  </td>
                                  <td>
                                    <input type="text">
                                  </td>
                                  <td>
                                    <select>
                                      <option value="일반사료">일반사료</option>
                                      <option value="보조사료">보조사료</option>
                                      <option value="호랑나비">호랑나비</option>
                                    </select>
                                  </td>
                                  <td><input type="text" placeholder="LOT번호"></td>
                                  <td><input type="number" placeholder="유통기간"></td>
                                  <td><input type="text" class="datetime" name="" value="" placeholder="제조일자"/></td>
                                  <td><input type="text" class="date" placeholder="유통기한"></td>
                                  <td><input type="number" placeholder="수량"></td>
                                  <td>
                                    <select>
                                      <option value="kg">kg</option>
                                      <option value="t">t</option>
                                    </select>
                                  </td>
                                  <td><input type="number" placeholder="단가"></td>
                                  <td>
                                    <select>
                                      <option value="부가세포함">부가세포함</option>
                                      <option value="부가세미포함">부가세미포함</option>
                                    </select>
                                  </td>
                                  <td><input type="number" placeholder="금액"></td>
                                  <td>
                                    <div class="row-btn row-delete" onclick="rowDelete(this)"></div>
                                  </td>
                                </tr>
                              </tbody>
                              <tfoot>
                                <tr>
                                  <td>합계</td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td class="tfoot-sum"><span></span></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td class="tfoot-sum"><span></span></td>
                                  <td></td>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="col-xs-12 col-sm-12 col-md-4 right-side">
              <div class="row">
                <div class="col-xs-12">
                    <div class="card-panel">
                      <div class="inner-box">
                        <form action="#">
                          <div class="tabletop-btn">
                            <input type="button" value="팝업버튼">
                            <input type="button" value="1">
                            <input type="button" value="1">
                            <input type="button" value="1">
                            <input type="button" value="1">
                            <input type="button" value="1">
                            <input type="button" value="1">
                            <input type="button" value="1">
                          </div>
                          <div class="tablerow">
                            <table>
                              <thead>
                                <tr>
                                  <th>0</th>
                                  <th>등록일자</th>
                                  <th>입고시각</th>
                                  <th>제품명</th>
                                  <th>제품명</th>
                                  <th>제품명</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>
                                    <span>2021-08-01</span>
                                  </td>
                                  <td>
                                    <span>01:00:00</span>
                                  </td>
                                  <td>
                                    <span></span>
                                  </td>
                                  <td>
                                    <span></span>
                                  </td>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </form>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <!--/.row-->
          </div>
          <footer>
            <div class="fbtn-group">
              <button class="fpdf">PDF출력</button>
              <button class="fexcel">엑셀 다운로드</button>
              <button class="fexcel">엑셀 업로드</button>
              <button class="finit">초기화</button>
              <button class="fsave">저장</button>
            </div>
          </footer>
        </div>
        <!-- /. PAGE INNER  -->
      </div>
    </article>
    <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
  <!-- JS Scripts-->
  
  <!-- Bootstrap Js -->
  <script src="js/bootstrap.min.js"></script>
  <script src="materialize/js/materialize.min.js"></script>

  <!-- Metis Menu Js -->
  <script src="js/jquery.metisMenu.js"></script>

  <!-- 달력 -->
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script> -->

  <!-- Custom Js -->
  <script src="js/custom-scripts.js"></script>
  <script src="js/mj_js.js"></script>
</body>

</html>